@import url("https://fonts.googleapis.com/css2?family=Jost:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-app_white dark:bg-app_black;
}

.text {
  @apply text-app_black dark:text-app_white;
}

.nav-link {
  @apply hover:text-app_primary_light hover:dark:text-app_primary_dark transition-all duration-200;
}

.footer-link {
  @apply text-app_dark dark:text-app_light hover:text-app_primary_light hover:dark:text-app_primary_dark transition-all duration-200;
}

footer .container {
  @apply flex flex-col justify-center gap-6;
}

footer .title {
  @apply text-app_black dark:text-app_white text-lg font-medium;
}

footer .text {
  @apply text-app_dark dark:text-app_light;
}

footer .social-button {
  @apply p-2 bg-app_white dark:bg-app_black rounded-lg hover:bg-app_black dark:hover:bg-app_white transition-all duration-300;
}
